@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin padding-LeftRight {
  padding-left: 20px;
  padding-right: 20px;
}

@mixin main-width {
  width: 80%;
  margin: 0 auto;
}
