* {
  box-sizing: border-box;
}

body, html {
  background-color: $white;
  font-family: 'Lato', sans-serif;;
}

main {
  padding: 0px;
  margin: 0px;
}

section {
  padding: 20px;
  margin: 0 auto;
  border: 1px solid red;
  position: relative;
  top: 100px;
  width: 95%;


  .flex-container {

     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     -webkit-flex-flow: row wrap;
     justify-content: center;
   }

        .flex-item {
          border: 1px solid green;
          padding: 20px;
          width: 50%;
          margin-top: 10px;

          line-height: 1;
          color: $black;
          font-size: 1em;
        }

}
