.navBar {
  background-color: $white;
  position: fixed;
  min-width: 100%;
  z-index: 2;
  padding: 0px 20px 0px 20px;
  height: 100px;
  display: flex;
  align-items: center;
}

.logo {
  padding: 11px;
  left: 50%;
  top: 50%;
  display: block;
}

.wrapper {
  margin: 0 auto;
  @include main-width;
  border: $grey 0px solid;
  justify-content: center
}

// Full Navigation, including mobile menu
nav {
  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    width: 100%;

    a {
      position: relative;
      color: $grey;
      text-decoration: none;

      &:hover {
        color: $grey;
      }

      &:after {
        content: "";
        position: absolute;
        z-index: 2;
        left: 0;
        right: 100%;
        bottom: -5px;
        background: $grey;
        height: 2px;
        transition-property: left right;
        transition-duration: 0.1s;
        transition-timing-function: ease-out;
      }

      &:hover:after,
      &:focus:after,
      &:active:after {
        right: 0;
      }
    }
  }

  li  {
    display: inline-block;
    margin-right: 25px;
  }

  #menu-toggle {display: none;}

  .label-toggle {display: none;}

  .wrapper {
    align-items: center;
    display: flex;
  }

  @media only screen and (max-width: 768px) {

    .navBar {
      background-color: $black;
    }

    nav {
      ul {
        a {
          color: $black;
        }
      }
    }

    ul {
      display: block;
      height: 0;
      list-style-type: none;
      opacity: 0;
      text-align: center;
      transition: all 1s ease;
      visibility: hidden;
    }

    li {
      color: $grey;
      display: block;
      font-size: 1.5em;
      padding-top: 20px;
      width: 100%;
      margin-left: -20px;
    }

    #menu-toggle:checked ~ ul {
      opacity: 1;
      height: 20vh;
      visibility: visible;
    }

    .label-toggle {
      background: linear-gradient(to bottom, $grey 0%, $grey 20%, transparent 20%, transparent 40%, $grey 40%, $grey 60%, transparent 60%, transparent 80%, $grey 80%, $grey 100%); //Gradient Hamburger
      cursor: pointer;
      display: block;
      float: right;
      height: 35px;
      margin-top: 1em;
      width: 35px;
    }

    .wrapper {
      width: 100%;
      display: block;
      margin-top: -20px;
      margin-bottom: -20px;
    }
  }
}
