// FONT
@import url('https://fonts.googleapis.com/css?family=Lato');

// COLORS
$blue: rgb(28,223,254);
$mint: rgb(77,246,192);
$orange: rgb(255,167,63);
$pink: rgb(255,15,202);
$black: rgb(24,31,34);
$white: #fff;
$light-grey: #e4e4e4;
$grey: #666;

// COMPONENTS
@import "components/_base";
@import "components/_body";
@import "components/_typography";
@import "components/_nav";
@import "components/_images";

// MIXINS
